
<body style="background-color:#f2f2f2;">
<br>
<br>
<div class="col-md-6">
    <h2 style="color: #626262">WORKOUT OVERVIEW</h2>
    <hr>

    <br>


    <div  class="form my-workout-form">
      <div class="form-group">
        <label style="font-size: 25px;text-decoration:underline" for="workout-title">{{title}}</label>
      </div>
      
     
      <div class="form-group workout-description">
        <label style="text-decoration: underline;color:gray" for="workout-description">Description:</label>
        <br>
        <span class="workout-description">{{description}}</span>
      </div>

    <div class="form-group workout-rating">
        <label style="text-decoration: underline;color:gray" for="workout-rating">Rating:</label>
        <br>
        <span class="workout-rating">{{rating}}</span>
      </div>

       <div class="form-group workout-type">
        <label style="text-decoration: underline;color:gray" for="workout-type">Workout Type:</label>
        <br>
        <span class="workout-type">{{workout_type}}</span>
      </div>

       <div class="form-group workout-zone">
        <label style="text-decoration: underline;color:gray" for="workout-zone">Body Zone:</label>
        <br>
        <span class="workout-zone">{{body_zone}}</span>
      </div>

      <div class="form-group workout-duration">
        <label style="text-decoration: underline;color:gray" for="workout-duration">Duration:</label>
        <br>
        <span class="workout-duration">{{duration}}</span>
      </div>
      <hr>

    <button style="background-color: greenyellow;"  onclick="window.location.href='/api/users/workouts/'">Back</button>
    
    <br>
    <br>
    <button style="border-color: red;" type="button" class="btn btn-light" id="pdf-print">Delete</button>
    <br>
    <br>
    <button style="border-color: blue;" type="button" class="btn btn-light" id="pdf-print">PDF</button>

        
    </div>
  </div>

  </body>