<div class="col-md-6">
    <h3>My Workout</h3>

    <div class="form my-workout-form">
      <div class="form-group">
        <label for="workout-title">{{title}}</label>
      </div>
     
      <div class="form-group workout-description">
        <label for="workout-description">Description:</label>
        <span class="workout-description">{{description}}</span>
      </div>

    <div class="form-group workout-rating">
        <label for="workout-rating">Rating:</label>
        <span class="workout-rating">{{rating}}</span>
      </div>

       <div class="form-group workout-type">
        <label for="workout-type">Type of Workout:</label>
        <span class="workout-type">{{workout_type}}</span>
      </div>

       <div class="form-group workout-zone">
        <label for="workout-zone">Body Zone:</label>
        <span class="workout-zone">{{body_zone}}</span>
      </div>

      <div class="form-group workout-duration">
        <label for="workout-duration">Duration:</label>
        <span class="workout-duration">{{duration}}</span>
      </div>

      
      
    </div>
  </div>